Repository louiszn/zent-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,js,mjs}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.{json,md,yml,yaml}": [
      "prettier --write"
    ]
}

chore: format and lint
  .github/workflows/deloy-bot.yml
  .lintstagedrc
  eslint.config.mjs
  src/base/command/Command.ts
  src/base/command/CommandManager.ts
  src/base/component/Component.ts
  src/base/listener/ListenerRegistry.ts
  src/commands/prefix/DeleteCommand.ts
  src/commands/prefix/EditCommand.ts
  src/commands/slash/RBDCommand.ts
  src/config.ts
  src/listeners/InteractionCreateListener.ts
  src/utils/string.ts
Due: eslint --fix, prettier --write

refactor: add registry manager, listener manager and simply fields
  src/base/ZentBot.ts
  src/base/ZentManagerRegistry.ts
  src/base/command/CommandManager.ts
  src/base/component/ComponentManager.ts
  src/base/listener/ListenerManager.ts
  src/listeners/InteractionCreateListener.ts
  src/listeners/MessageCreateListener.ts
  src/listeners/ReadyListener.ts
Due: eslint --fix, prettier --write

chore: switch to Events enum and grouping with directory
  src/listeners/RBDMessageListener.ts
  src/listeners/character/CharacterMessageListener.ts
  src/listeners/character/WebhookDeleteListener.ts
Due: eslint --fix, prettier --write

Refactor registries and add ListenerManager (#26)
  .github/workflows/deloy-bot.yml
  .husky/pre-commit
  .lintstagedrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/base/ZentBot.ts
  src/base/ZentManagerRegistry.ts
  src/base/command/Command.ts
  src/base/command/CommandManager.ts
  src/base/component/Component.ts
  src/base/component/ComponentManager.ts
  src/base/listener/ListenerManager.ts
  src/base/listener/ListenerRegistry.ts
  src/commands/prefix/DeleteCommand.ts
  src/commands/prefix/EditCommand.ts
  src/commands/slash/RBDCommand.ts
  src/config.ts
  src/listeners/InteractionCreateListener.ts
  src/listeners/MessageCreateListener.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/ReadyListener.ts
  src/listeners/character/CharacterMessageListener.ts
  src/listeners/character/WebhookDeleteListener.ts
  src/utils/string.ts
Due: eslint --fix, prettier --write

refactor: switch to drizzle
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/commands/contextMenu/DeleteCharacterMessageCommand.ts
  src/commands/contextMenu/EditCharacterMessageCommand.ts
  src/commands/contextMenu/GetCharacterInfoCommand.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/prefix/DeleteCommand.ts
  src/commands/prefix/EditCommand.ts
  src/commands/slash/RBDCommand.ts
  src/config.ts
  src/database/index.ts
  src/database/schema/character.ts
  src/database/schema/index.ts
  src/database/schema/rbd.ts
  src/index.ts
  src/libs/character.ts
  src/libs/snowflake.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/character/CharacterMessageListener.ts
Due: eslint --fix, prettier --write

refactor: change back to string for snowflake IDs
  src/commands/contextMenu/DeleteCharacterMessageCommand.ts
  src/commands/contextMenu/EditCharacterMessageCommand.ts
  src/commands/contextMenu/GetCharacterInfoCommand.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/prefix/DeleteCommand.ts
  src/commands/prefix/EditCommand.ts
  src/commands/slash/RBDCommand.ts
  src/database/schema/character.ts
  src/database/schema/rbd.ts
  src/libs/character.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/character/CharacterMessageListener.ts
Due: eslint --fix, prettier --write

refactor: switch to drizzle (#27)
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/commands/contextMenu/DeleteCharacterMessageCommand.ts
  src/commands/contextMenu/EditCharacterMessageCommand.ts
  src/commands/contextMenu/GetCharacterInfoCommand.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/prefix/DeleteCommand.ts
  src/commands/prefix/EditCommand.ts
  src/commands/slash/RBDCommand.ts
  src/config.ts
  src/database/index.ts
  src/database/schema/character.ts
  src/database/schema/index.ts
  src/database/schema/rbd.ts
  src/index.ts
  src/libs/character.ts
  src/libs/snowflake.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/character/CharacterMessageListener.ts
Due: eslint --fix, prettier --write

refactor: optimize character module
  src/base/ZentBot.ts
  src/commands/contextMenu/EditCharacterMessageCommand.ts
  src/commands/contextMenu/GetCharacterInfoCommand.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/prefix/EditCommand.ts
  src/database/index.ts
  src/database/schema/character.ts
  src/libs/CharacterManager.ts
  src/libs/character.ts
  src/listeners/character/CharacterMessageListener.ts
  src/listeners/character/GuildAvailableListener.ts
  src/listeners/character/GuildCreateListener.ts
  src/listeners/character/GuildMemberAddListener.ts
  src/listeners/character/GuildMemberAvailableListener.ts
  src/listeners/character/WebhookDeleteListener.ts
Due: eslint --fix, prettier --write

chore: remove prisma completely
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250701153351_init/migration.sql
  prisma/migrations/20250701162020_init/migration.sql
  prisma/migrations/20250702080940_init/migration.sql
  prisma/migrations/20250703094012_add_tag/migration.sql
  prisma/migrations/20250703101458_remove_default_value/migration.sql
  prisma/migrations/20250704090826_add_reply_preview_and_replied_message_id/migration.sql
  prisma/migrations/20250726122350_add_rbd_schema/migration.sql
  prisma/migrations/20250726123808_add_channel_id_field/migration.sql
  prisma/migrations/20250726124542_change_to_counter_schema/migration.sql
  prisma/migrations/20250726130837_final/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/libs/prisma.ts
Due: eslint --fix, prettier --write

chore: remove botWebhooks from client
  src/base/ZentBot.ts
  src/commands/prefix/EditCommand.ts
  src/libs/webhook.ts
Due: eslint --fix, prettier --write

refactor: optimize character module (#28)
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250701153351_init/migration.sql
  prisma/migrations/20250701162020_init/migration.sql
  prisma/migrations/20250702080940_init/migration.sql
  prisma/migrations/20250703094012_add_tag/migration.sql
  prisma/migrations/20250703101458_remove_default_value/migration.sql
  prisma/migrations/20250704090826_add_reply_preview_and_replied_message_id/migration.sql
  prisma/migrations/20250726122350_add_rbd_schema/migration.sql
  prisma/migrations/20250726123808_add_channel_id_field/migration.sql
  prisma/migrations/20250726124542_change_to_counter_schema/migration.sql
  prisma/migrations/20250726130837_final/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/base/ZentBot.ts
  src/commands/contextMenu/EditCharacterMessageCommand.ts
  src/commands/contextMenu/GetCharacterInfoCommand.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/prefix/EditCommand.ts
  src/database/index.ts
  src/database/schema/character.ts
  src/libs/CharacterManager.ts
  src/libs/character.ts
  src/libs/prisma.ts
  src/libs/webhook.ts
  src/listeners/character/CharacterMessageListener.ts
  src/listeners/character/GuildAvailableListener.ts
  src/listeners/character/GuildCreateListener.ts
  src/listeners/character/GuildMemberAddListener.ts
  src/listeners/character/GuildMemberAvailableListener.ts
  src/listeners/character/WebhookDeleteListener.ts
Due: eslint --fix, prettier --write

fix: convert to pnpm
  Dockerfile
  package.json
Due: prettier --write

fix: convert to pnpm (#30)
  Dockerfile
  package.json
Due: prettier --write

fix: copy pnpm-lock.yaml
  Dockerfile
Due: none

Docker fix (#32)
  Dockerfile
Due: none

fix: add await keyword to make insertion work
  src/listeners/character/CharacterMessageListener.ts
Due: eslint --fix, prettier --write

chore: convert eslint to typescript and stricter type check
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: fix eslint errors
  src/base/command/Command.ts
  src/base/command/CommandManager.ts
  src/base/listener/Listener.ts
  src/base/listener/ListenerManager.ts
  src/commands/hybrid/CharacterCommand.ts
  src/libs/Paginator.ts
  src/libs/logger.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/ReadyListener.ts
  src/listeners/character/WebhookDeleteListener.ts
Due: eslint --fix, prettier --write

Fix Character and improve stricter eslint rules (#34)
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/base/command/CommandManager.ts
  src/base/listener/Listener.ts
  src/base/listener/ListenerManager.ts
  src/commands/hybrid/CharacterCommand.ts
  src/libs/Paginator.ts
  src/libs/logger.ts
  src/listeners/RBDMessageListener.ts
  src/listeners/ReadyListener.ts
  src/listeners/character/CharacterMessageListener.ts
  src/listeners/character/WebhookDeleteListener.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

update README.md
  README.md
Due: prettier --write

refactor: simplify constructor type and add subcommand handler
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/base/command/HybridContext.ts
  src/base/command/subcommand/Subcommand.ts
  src/base/command/subcommand/SubcommandManager.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/hybrid/PingCommand.ts
  src/libs/Paginator.ts
  src/listeners/InteractionCreateListener.ts
  src/listeners/MessageCreateListener.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: filter guildIds
  src/deloyCommands.ts
Due: eslint --fix, prettier --write

Command refactor (#38)
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/base/command/HybridContext.ts
  src/base/command/subcommand/Subcommand.ts
  src/base/command/subcommand/SubcommandManager.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/hybrid/PingCommand.ts
  src/deloyCommands.ts
  src/libs/Paginator.ts
  src/listeners/InteractionCreateListener.ts
  src/listeners/MessageCreateListener.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Command refactor (#38) (#39)
  package.json
  pnpm-lock.yaml
  src/base/command/Command.ts
  src/base/command/HybridContext.ts
  src/base/command/subcommand/Subcommand.ts
  src/base/command/subcommand/SubcommandManager.ts
  src/commands/hybrid/CharacterCommand.ts
  src/commands/hybrid/PingCommand.ts
  src/deloyCommands.ts
  src/libs/Paginator.ts
  src/listeners/InteractionCreateListener.ts
  src/listeners/MessageCreateListener.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: rewrite readme file
  README.md
Due: prettier --write

fix: typo of deploy
  Dockerfile
  README.md
  package.json
  src/deployCommands.ts
Due: eslint --fix, prettier --write

update README.md (#37)
  Dockerfile
  README.md
  package.json
  src/deployCommands.ts
Due: eslint --fix, prettier --write

feat: add command 'information'
  src/commands/hybrid/Information.ts
Due: eslint --fix, prettier --write

feat: add commit field
  src/commands/hybrid/Information.ts
  src/commands/hybrid/InformationCommand.ts
Due: eslint --fix, prettier --write

chore: add response status check
  src/commands/hybrid/InformationCommand.ts
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: add more stuffs in readme
  README.md
Due: prettier --write

feat: change license to AGPL
  LICENSE
Due: none

chore: add information about license and repository
  README.md
  package.json
Due: prettier --write

chore: add badges
  README.md
Due: prettier --write

Update information (#41)
  LICENSE
  README.md
  package.json
Due: prettier --write

fix: move the content to its section
  README.md
Due: prettier --write

fix: move the content to its section (#42)
  README.md
Due: prettier --write
